* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b0f1a;
  color: #ffffff;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #0b1d3a, #ff8c00);
  padding: 60px 20px;
  text-align: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #ffb347;
  object-fit: cover;
  margin-bottom: 20px;
  margin: auto;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  color: #f1f1f1;
  margin-top: 10px;
}

/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

.section h2 {
  color: #ffb347;
  margin-bottom: 20px;
}
.section b{
  color: #ffb347;
}

/*About me*/
.about-me {
  background: linear-gradient(90deg, #0b1d3a, #ff8c00);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .about-me {
    background: linear-gradient(180deg, #ff8c00, #0b1d3a);
  }
}
.my-img {
  border: 0px solid white;
  width: 100%;
  max-width: 16rem;
}

img {
  background-color: rgb(236, 177, 3);
  width: 100%;
}
.info {
  width: 100%;
  max-width: 32rem;
  margin-bottom: 30px;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #121a2f;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ff8c00;
}

/* EXPERIENCE */
.placeholder {
  color: #cccccc;
  font-style: italic;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.project {
  width: 100%;
  max-width: 30rem;
  border: 2px solid #ff8c00;
}
.graphics {
  display: flex;
  flex-wrap: wrap;
}
.design {
  width: 100%;
}
@media (min-width: 525px) {
  .design {
    max-width: 14.5rem;
  }
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ff8c00;
}
.logowork {
  border: none;
}

/* CONTACT */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.contact-form button {
  background: #ff8c00;
  color: #000;
  padding: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background: #ffb347;
}

/* FOOTER */
footer {
  background: #050914;
  padding: 30px 20px;
  text-align: center;
}

.socials {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

 a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.socials a:hover {
  text-decoration: underline
}

.icon {
  width: 25px;
  border-radius: 20px;
  margin: 5px 10px;
}
